.header{
  text-color: red;
    text-align:center;
}

body {
    background-image: url("https://i.postimg.cc/GpnCcFhw/3079485.jpg");
}

.header {
    padding: 0px:
	text-align: center;
    background: #6495ED;
    color: white;
}



.rect {
    height: 600px;
    width: 800px;
    background: lightblue;
    color: green;
}

.rectRef {
    height: 600px;
    width: 1000px;
    background: gray;
    text-color: black;
    
}
.plink {
    text-align: left;
   
}


