<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../styles/footer.css">
<footer>
      <div id="contact-info">
            <ul id="contact-list">
                  <li><a href="https://github.com/saip9" class="links" target="_blank">
                              <i class="fa-brands fa-github fa-2xl"></i>
                              <span class="nav-item">GitHub</span>
                        </a></li>

                  <li><a href="mailto:spaladugu9@outlook.com" class="links" target="_blank">
                              <i class="fa-solid fa-envelope fa-2xl"></i>
                              <span class="nav-item">Email</span>
                        </a></li>
            </ul>
            </ul>

            </h3>
</footer>