<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../styles/nav.css">
<nav id="navigation-bar">
      <span class="nav-item"></span>
      <div id="menu-icon">
            <a href="javascript:void(0);" class="icon" onclick="clickNavbar()">
                  <i class="fa-solid fa-bars fa-2xl"></i>
      </div>
      </a>
      <br>
      <br>
      <br>
      <br>
      <ul>
            <li><a href="../index.html" class="links" target="_blank">
                        <i class="fa-solid fa-house fa-2xl"></i>
                        <span class="nav-item">Home</span>
                  </a></li>
            <li><a href="../pages/aboutMe.html" class="links" target="_blank">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">About Me</span>
                  </a></li>
            <li><a href="../pages/projects.html" class="links" target="_blank">
                        <i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Projects</span>
                  </a></li>
            <li><a href="../pages/resume.html" class="links" target="_blank">
                        <i class="fas fa-file"></i>
                        <span class="nav-item">Resume</span>
                  </a></li>
            <li><a href="../pages/certifications.html" class="links" target="_blank">
                        <i class="fa-solid fa-award" id="award-icon"></i>
                        <span class="nav-item">Certifications</span>
                  </a></li>

            </a></li>
      </ul>
</nav>
<script>
      function clickNavbar() {
            var navbar = document.getElementById("navigation-bar");
            if (screen.width < 767) {
                  if (navbar.style.display === "block") {
                        navbar.style.display = "none";
                  } else {
                        navbar.style.width = "100vw"
                        navbar.style.display = "block";

                  }
            }

      }
</script>