footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    background:#4e262d;

}
#contact-list  {
    display: flex;
    justify-content:space-around;
    list-style-type:none;

}

#contact-header {
    color: white;
    font-size: 25px;
    text-align: center;
    
}

@media (max-width: 767px) { 

   #contact-list {
    text-align: center;
    justify-content: space-evenly;
    padding-inline-end: 30px;
   }
  
}