body {
    background-color: #462C2F;
}
#resume-content {
    display: flex;
}
.resume-button {
    margin-top: 1vw;
    background-color: #BC2C3D;
    border-radius: 10px;
    
}

.resume-button:hover {
    background-color: #9f3e49;
}
.resume-link {
   color:white !important;
   font-size: 30px;
   text-align: center;
}

.resume-link:hover {
    background-color: transparent !important;
}

.pdf-view {
   margin-top: 1vw;
   margin-left: 25vw;
   width: 50%;
   float: left;
   height: 98vh;
}

